@import "../../styles//variables.scss";

// .square {
//   height: 50%;
//   border: 1px solid red;
// }

.header{
  height: $header-height;
  background-color: $primary-color;

  @media only screen and (min-width: 1024px) {
    //height: $header-height * 2;
  }
}



