@import "../../styles//variables.scss";

.square {
  height: 50%;
  border: 1px solid red;
}

.header{
  height: $header-height;
  background-color: $primary-color;

  @media only screen and (min-width: 1024px) {
    //height: $header-height * 2;
  }
}
.searcher {
  background-color: $primary-color;

  position: absolute;
  z-index: 100;
  pointer-events: auto;
  top: 100px;
  left: 20px;
  width: 350px;

  @media only screen and (min-width: 1024px) {
    //height: $header-height * 2;
  }
}

.toolsbar {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
}

