.visor-container {
  height: 100%;
  width: 100%;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.visor-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white url('../../../assets/grid.png');
}
