mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s ease-out;
}


.spinning {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
