


.brand{
  font-family: 'Doto', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: var(--dark-purple);
  padding-top: 3rem;
  line-height: 1.2;
  padding: 0 10px 15px 10px;
  letter-spacing: 4px;
  background: linear-gradient(45deg, var(--dark-purple), var(--primary-pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden {
  display: none;
}
