@if (flayingFeatureStore.selectedBar(); as bar) {
  <div class="info-card-overlay"
       [class.mobile-sheet]="screenStore.size() === 'mobile' || screenStore.size() === 'tablet'">

    <mat-card class="bar-card mat-elevation-z8">
      @if (screenStore.isMobile()) {
        <div class="mobile-handle"></div>
      }
      <mat-card-header class="justify-content-between">
        <mat-card-title>{{ bar.properties?.['name'] || 'Unnamed Bar' }}</mat-card-title>
        <button mat-icon-button (click)="closeCard()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content class="flex-grow-1">
        <div class="flex justify-content-between">
          <p class="flex-grow-1 max-w-18rem"><strong>Dirección:</strong> {{ bar.properties?.['address'] }}</p>
          <span class="flex-none pt-3 material-symbols-outlined no-fill text-primary cursor-pointer pl-1"
            (click)="copyToClipboard(bar.properties?.['address'])">content_copy
          </span>
        </div>
        <p><strong>Precio:</strong> {{ bar.properties?.['price'] }}</p>
        <p><strong>Descripción:</strong> {{ bar.properties?.['desc'] }}</p>
      </mat-card-content>

      <mat-card-actions align="end" class="nav-buttons">
        <button mat-mini-fab color="primary"
                [disabled]="!flayingFeatureStore.hasPrevious()"
                (click)="flayingFeatureStore.previous()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                [disabled]="!flayingFeatureStore.hasNext()"
                (click)="flayingFeatureStore.next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
}
